# Import Libraries

In [1]:
import pandas as pd
import glob
import os
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Load Dataset

In [2]:
def files_df(sequence_list):
    final_df = pd.DataFrame()
    for sequence_file in sequence_list:
        temp_df = pd.DataFrame(pd.read_csv(sequence_file, delimiter='EXIT\n', header=None))
        final_df = final_df.append(pd.Series(' '.join(temp_df[0].values)), ignore_index=True)
    return final_df

## Create a Dataframe that Save All .seq Files Content

In [3]:
sequence_list = glob.glob("D:/UGM/DTETI FT UGM/!!MatKul!!/Semester 5/Pemrosesan Bahasa Alami/CDMC2019MiniTask/LOGS/LOGS/*.seq")

In [4]:
df_fullver = files_df(sequence_list)
df_fullver.columns=['Commands']

In [5]:
df_fullver.insert(0, 'seq_file_num', range(1, 1 + len(df_fullver)))

In [6]:
df_fullver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4167 entries, 0 to 4166
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seq_file_num  4167 non-null   int32
 1   Commands      4167 non-null   object
dtypes: int32(1), object(1)
memory usage: 49.0+ KB

In [7]:
df_fullver.seq_file_num = ["{:04d}".format(item) for item in df_fullver.seq_file_num]

In [8]:
df_fullver.head()

  seq_file_num                                           Commands
0         0001  execve ioctl ioctl prctl gettimeofday getpid g...
1         0002  execve ioctl ioctl time getpid time getpid soc...
2         0003  execve ioctl ioctl prctl time getpid time getp...
3         0004  execve ioctl ioctl time getpid time getpid soc...
4         0005  execve ioctl ioctl prctl time getpid time getp...

## Create df_train

In [9]:
df_train = pd.DataFrame(pd.read_csv("D:/UGM/DTETI FT UGM/!!MatKul!!/Semester 5/Pemrosesan Bahasa Alami/CDMC2019MiniTask/Train.csv", sep=',', header=None))
df_train.columns=['Commands', 'malware_types']
df_train.Commands = ["{:04d}".format(item) for item in df_train.Commands]

In [10]:
df_train.head()

  Commands  malware_types
0     3533              2
1     1270              5
2     3270              1
3     1323              2
4     1064              2

In [11]:
df_train['Commands'] = df_train['Commands'].map(df_fullver.set_index('seq_file_num')['Commands'])

In [12]:
df_train.head()

                                            Commands  malware_types
0  execve ioctl ioctl prctl time getpid time getp...              2
1  execve uname brk brk set_tls set_tid_address s...              5
2  execve brk brk set_tls ioctl ioctl access gete...              1
3  execve ioctl ioctl unlink time getpid getppid ...              2
4  execve ioctl ioctl time getpid time getpid soc...              2

In [13]:
df_train.shape

(2500, 2)

## Create df_test

In [14]:
df_test = pd.DataFrame(pd.read_csv("D:/UGM/DTETI FT UGM/!!MatKul!!/Semester 5/Pemrosesan Bahasa Alami/CDMC2019MiniTask/Test.csv", sep=',', header=None))
df_test[0] = ["{:04d}".format(item) for item in df_test[0]]

In [15]:
df_test.head()

      0
0  0054
1  1460
2  1312
3  1230
4  3077

In [16]:
df_test[0] = df_test[0].map(df_fullver.set_index('seq_file_num')['Commands'])

In [17]:
df_test.head()

                                                   0
0  execve mmap2 cacheflush cacheflush readlink ca...
1  execve brk brk set_tls ioctl ioctl rt_sigprocm...
2  execve ioctl ioctl time getpid time getpid soc...
3  execve ioctl ioctl time getpid time getpid soc...
4  execve brk brk set_tls ioctl ioctl gettimeofda...

In [19]:
df_test.shape

(1667, 1)

# LET'S ROCK!!!!